.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-primary-dark;
    width: 100%;
    max-width: 60rem;
    min-width: 32rem;
    margin: 0 auto;
    padding: 2rem 4rem;
    color: $color-grey-light;
    border-radius: 3px;
    box-shadow: 0 .25rem .5rem rgba($color-black, .5);
    
    &__field {
        display: flex;
        flex-direction: column;
        flex: 0 0 100%;

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        &--half {
            flex: 0 0 45%;
        }

        &-label {
            font-family: "Staatliches";
            font-size: 2rem;
        }
        
        &-input-container {
            display: flex;
            position: relative;
            align-items: center;
        }

        &-icon {
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            margin-left: .5rem;
            fill: rgba($color-grey-dark, .5);
        }

        &-input {
            padding: 1rem 1rem 1rem 3.5rem;
            font-family: "Open Sans", sans-serif;
            font-size: 1.5rem;
            width: 100%;
        }

        
    }



    &__submit {
        border: 0;
        margin: 3rem 0 1.5rem 0;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-family: "Staatliches", sans-serif;
        font-size: 2.5rem;
        border-radius: 3px;
        background-color: lighten($color-primary, 10%);
        cursor: pointer;
        transition: all .1s;

        &:hover {
            transform: translateY(-3px);
            background-color: lighten($color-primary, 20%);
        }
    }
}