.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba($color-black, .7), rgba($color-black, .7)), url('../images/nature-home.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;

    hr {
        width: 50%;
        max-width: 45rem;
        margin: 0 auto;
    }

    &__heading {
        font-family: "Staatliches";
        color: $color-grey-light;
        font-size: 8rem;
        letter-spacing: .8rem;
    }

    &__description {
        color: $color-grey-light;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: .1rem;
        margin-top: 1rem;
    }
}