.section {
    padding: 10rem 5rem;

    @media only screen and (max-width: $bp-smallest) {
        padding: 6rem 2rem;
    }

    &-who-we-are {
        background-color: $color-tertiary;

        &__content-container {
            display: flex;
            align-items: center;
            margin: 0 5rem;

            @media only screen and (max-width: $bp-largest) {
                flex-direction: column;
            }
        }

        &__paragraph-container {
            margin-right: 2rem;

            @media only screen and (max-width: $bp-largest) {
                order: 2;
                margin: 0;
            }
        }

        &__image {
            margin-left: 2rem;
            width: 40%;

            @media only screen and (max-width: $bp-largest) {
                order: 1;
                margin: 0;
                margin-bottom: 5rem;
                width: 80%;
            }

            @media only screen and (max-width: $bp-tiny) {
                width: 100%;
            }
        }
    }

    &-available-rooms {
        background-color: $color-primary-light;
    }

    &-find-us {
        background-color: $color-tertiary;

        &__content {
            display: flex;

            @media only screen and (max-width: $bp-largest) {
                display: block;
            }
            
            & > * {
                flex: 1;
            }
        }
    }

    &-book-reservation {
        background-color: $color-primary-light;

        @media only screen and (max-width: $bp-tiniest) {
            padding: 6rem 0 0 0;
        }
    }

    &-room-description {
        background-color: $color-grey-light;
    }

    &-room-facilities {
        background-color: $color-tertiary;
    }

    &--light {
        color: $color-grey-light;
    }

    &--dark {
        color: $color-grey-dark;
    }
}