.paragraph {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.heading-secondary {
    font-family: "Staatliches";
    font-size: 5rem;
    letter-spacing: .5rem;
    text-align: center;

    @media only screen and (max-width: $bp-tiniest) {
        font-size: 4.5rem;
    }
}