$color-primary-dark: #317312;
$color-primary: #6EBB2D;
$color-primary-light: rgba($color-primary, .7);
$color-secondary: #166EF3; 
$color-secondary-light: #24BAEC;
$color-tertiary: #DED6C9;

$color-grey-dark: #333;
$color-grey-light: #f7f7f7;

$color-black: #000;
$color-white: #fff;