@import "~@fontsource/staatliches/index.css";
@import "~@fontsource/open-sans/index.css";
@import "~@fontsource/open-sans/300.css";
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 30rem;
  background-color: #f7f7f7;
  margin: 2rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.2s;
}
.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 0.25rem rgba(0, 0, 0, 0.4);
}
.card__img {
  height: 20rem;
  background-size: cover;
}
.card__img--hostel {
  background-image: url("../images/hostel-small.jpg");
}
.card__img--single {
  background-image: url("../images/single-small.jpg");
}
.card__img--double {
  background-image: url("../images/double-small.jpg");
}
.card__icon {
  width: 7rem;
  height: 7rem;
  margin: 2rem auto;
  fill: #333;
}
.card__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 4rem;
  flex: 1;
}
.card__heading {
  font-family: "Staatliches";
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}
.card__description {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.card__button:link, .card__button:visited {
  display: block;
  font-family: "Staatliches";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  margin: 3rem auto 0 auto;
  padding: 0.5rem 1rem;
  background-color: #166EF3;
  width: 30%;
  min-width: 12rem;
  border-radius: 3px;
}

.contact-detail {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.contact-detail__icon {
  width: 3rem;
  height: 3rem;
  fill: #333;
  margin-right: 1rem;
}
.contact-detail__information {
  font-size: 1.75rem;
  color: #333;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 8rem;
  background-color: #333;
  color: #f7f7f7;
  text-align: center;
}
.footer hr {
  margin: 1rem 0;
  border: 1px solid rgba(247, 247, 247, 0.1);
}
.footer__copyright {
  font-size: 1.5rem;
}
.footer__copyright a:link, .footer__copyright a:visited {
  color: rgba(110, 187, 45, 0.6);
  transition: all 0.1s;
}
.footer__copyright a:hover {
  color: #6EBB2D;
}
.footer__information {
  font-size: 1.25rem;
}
.footer__information a:link, .footer__information a:visited {
  color: rgba(110, 187, 45, 0.6);
  transition: all 0.1s;
}
.footer__information a:hover {
  color: #6EBB2D;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #317312;
  width: 100%;
  max-width: 60rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  color: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}
.form__field {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}
.form__field:not(:last-of-type) {
  margin-bottom: 2rem;
}
.form__field--half {
  flex: 0 0 45%;
}
.form__field-label {
  font-family: "Staatliches";
  font-size: 2rem;
}
.form__field-input-container {
  display: flex;
  position: relative;
  align-items: center;
}
.form__field-icon {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  fill: rgba(51, 51, 51, 0.5);
}
.form__field-input, .form__field-dropdown {
  padding: 1rem 1rem 1rem 3.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  width: 100%;
}
.form__field-dropdown-item {
  padding: 1rem 0;
}
.form__field-dropdown-item:focus {
  background-color: #6EBB2D;
  color: #f7f7f7;
}
.form__submit {
  border: 0;
  margin: 3rem 0 1.5rem 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  font-size: 2.5rem;
  border-radius: 3px;
  background-color: #88d348;
  cursor: pointer;
  transition: all 0.1s;
}
.form__submit:hover {
  transform: translateY(-3px);
  background-color: #a2dd71;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/nature-home.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.header hr {
  width: 50%;
  max-width: 45rem;
  margin: 0 auto;
}
.header__heading {
  font-family: "Staatliches";
  color: #f7f7f7;
  font-size: 8rem;
  letter-spacing: 0.8rem;
}
.header__description {
  color: #f7f7f7;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.header__socials {
  margin-top: 3rem;
}
.header__socials-icon {
  fill: rgba(247, 247, 247, 0.7);
  width: 5rem;
  height: 5rem;
  margin: 0 2rem;
  cursor: pointer;
  transition: all 0.1s;
}
.header__socials-icon:hover {
  fill: #f7f7f7;
}

.map {
  height: 45rem;
  margin: 0 5rem;
}

.navbar {
  display: flex;
  background-color: #DED6C9;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar__logo {
  text-transform: uppercase;
  font-family: "staatliches";
  font-size: 3rem;
  margin-left: 2rem;
  letter-spacing: 0.15rem;
  color: #333;
}
.navbar__group {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-self: stretch;
}
.navbar__group a {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #333;
  transition: all 0.1s;
}
.navbar__group a:hover {
  background-color: #cbbea9;
}
.navbar__group a:hover > .navbar__item > .navbar__dropdown, .navbar__group a:focus > .navbar__item > .navbar__dropdown {
  display: block;
}
.navbar__item {
  position: relative;
}
.navbar__item:focus-within > * {
  display: block;
}
.navbar__dropdown {
  display: none;
  position: absolute;
  left: -2rem;
  top: 3.25rem;
  width: 15rem;
}
.navbar__dropdown-item {
  background-color: #DED6C9;
  padding: 0.75rem 1.5rem;
  transition: all 0.1s;
}
.navbar__dropdown-item:hover {
  background-color: #cbbea9;
}

.notification {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  max-width: 60rem;
  min-width: 32rem;
  margin: 0 auto 3rem auto;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
}
.notification__icon {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  fill: rgba(110, 187, 45, 0.6);
}
.notification__message {
  font-size: 1.5rem;
}

.room__heading {
  font-family: "Staatliches";
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
.room__content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.room__image {
  flex: 0 0 45%;
  width: 45%;
  align-self: flex-start;
}
.room__paragraph-container {
  flex: 0 0 45%;
}
.room__price {
  font-size: 2.5rem;
  text-align: right;
  margin-top: 3rem;
  color: #166EF3;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.room__book-button:link, .room__book-button:visited {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 4rem;
  font-family: "Staatliches", sans-serif;
  letter-spacing: 0.2rem;
  color: #f7f7f7;
  margin: 5rem auto 0 auto;
  text-align: center;
  background-color: #6EBB2D;
  max-width: 30rem;
  border-radius: 3px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.7);
  transition: all 0.1s;
}
.room__book-button:hover {
  background-color: #317312;
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
}

.section {
  padding: 10rem 5rem;
}
.section-who-we-are {
  background-color: #DED6C9;
}
.section-who-we-are__content-container {
  display: flex;
  margin: 0 5rem;
}
.section-who-we-are__paragraph-container {
  margin-right: 2rem;
}
.section-who-we-are__image {
  margin-left: 2rem;
  align-self: flex-start;
  width: 50rem;
}
.section-available-rooms {
  background-color: rgba(110, 187, 45, 0.6);
}
.section-find-us {
  background-color: #DED6C9;
}
.section-find-us__content {
  display: flex;
}
.section-find-us__content > * {
  flex: 1;
}
.section-book-reservation {
  background-color: rgba(110, 187, 45, 0.6);
}
.section-room-description {
  background-color: #f7f7f7;
}
.section-room-facilities {
  background-color: #DED6C9;
}
.section--light {
  color: #f7f7f7;
}
.section--dark {
  color: #333;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.heading-secondary {
  font-family: "Staatliches";
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.u-margin-bottom-tiny {
  margin-bottom: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

/*# sourceMappingURL=style.css.map */
